nav{
    width: 100%;
    transform-origin: top left;
}

#nav-bar
{
    position: fixed;
    flex-direction: column;
    background-color: var(--light-colour);
    height: 100%;
    width: 160px;
    padding-top: 10px;
    border-right: rgb(255, 255, 255) 2px solid;
    background-color: rgba(0, 0, 0, 0.288);
    transform: translateX(-70%);
    transition: transform 0.3s ease;
}

#nav-bar:hover
{
    transform: translateX(0%);
}

#nav-bar .nav-item
{
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    padding: 16px 16px;
    text-align: center;
    font-size: 1.8rem;
    font-family: "BebasNeue", sans-serif !important;
    font-weight: bold;
    outline: none;
    max-height: 60px;
    height: auto;
}

.nav-item
{
    color: rgb(112, 112, 112);
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-item:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}